body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4E505F;
  background-color: rgb(184, 178, 178);
 
}
:root{
  --background-color: hsl(0, 0%, 86%);
  --foreground-color:blue;
  --primary-text-color:white;
  --secondary-text-color:black;
  --toggle-bg:white;
  --toggle-fg:yellow;


}


.calculator-container{
  background-color: rgb(184, 178, 178);
  max-width: 700px;
  margin: auto;
  position: relative;
}

[data-theme="dark"]{
  --background-color:black;
  --foreground-color:#f1f2f3e1;
  --primary-text-color:gray;
  --secondary-text-color:#0a0a0a;
  --primary-result-text-color:white;
  --secondary-result-text-color:black;
  --toggle-bg:#283452;
  --toggle-fg:#00a6ff;
  --button-bg:#ffffff;
  --button-fg:black;
  --primary-button-color:#2E2F38;
  --secondary-button-color:hsl(0, 57%, 38%);
}

.Darkmode{
  height: 100vh;
  width: 400px;
  margin: auto;
  background-color:var(--background-color);
}

.arithmetic-operation-display,.display-result{
  max-width: 96%;
  height: 150px;
  border: none;
  color:var(--primary-text-color);
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  flex-wrap: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  overflow: hidden;

}
.display-result{
  height: 100px;
  color:var(--primary-result-text-color);
  font-size: 3rem;
  padding-bottom: 0;
}
 
button{
  padding: 25px 10px;
  border-radius: 25%;
  gap:20px;
  margin: 5px;
  border:none;
  font-size: 1.3rem;
  background-color: var(--primary-button-color);
  color:var(--button-bg);
}
button:hover{
  background-color: rgb(114, 179, 235);
}
button:active{
  background-color: rgb(19, 132, 231);
}
.button-container{
  display: grid;
  grid-template-columns:repeat(4,1fr);

  padding-bottom: 50px;
}

.operation-digit{
  background-color: rgb(69, 117, 250);
  color: white;
}
.top-operation{
  background-color: #4E505F;
}
.my-toggle{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (min-width:700px) {
  .Darkmode{
  width: 600px;
}

button{
  margin: 10px;
  padding: 20px;
}

  
}

   